<h1>To Do List</h1>
<div class="row">
  <ul class="ck-todolist">
    <% @tasks.each_with_index do |task, i| %>
      <li class="ck-task<% if task.completed?() %> ck-done<% end %>"><%= task.description() %> - <a href="/delete?index=<%= i %>">delete</a>
         - <a href="/completed?index=<%= i %>">done</a></li>
    <% end %>
  </ul>
</div>

<form action="/add" method="post">
  <div class="form-group">
    <label for="description">Add a Task:</label>
    <input id="description" name="description" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
