<h1>To Do List</h1>
<form action="/word_count">
  <div class="form-group">
    <label for="my_word"></label>
    <input id="my_word" name="my_word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-success">Add</button>
</form>
